/* Write your CSS here */
.bg-cont {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  height: 60%;
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
